<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<% if current_user && current_user == @user %>
  <%= link_to 'Edit', edit_user_project_path(@user, @project), 
    class: "edit_project" %> |
  <%= link_to 'Delete', [@user, @project], method: :delete, 
    class: "delete_project" %> |
  <%= link_to 'Back', user_projects_path %>
<% end %>
