<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<p>
  <%= image_tag @project.project_image(:medium) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<% if current_user && current_user == @user %>
  <%= link_to 'Edit', edit_user_project_path(@user, @project), 
    class: "edit_project" %> |
  <%= link_to 'Delete', [@user, @project], method: :delete, 
    class: "delete_project" %> |
  <%= link_to 'Back', user_projects_path %>
<% end %>
