<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<div class="header">
  <% if user_signed_in? %>
    Hi, <%= link_to current_user.first_name, user_path(current_user),
      class: "profile" %>
    <%= link_to "Sign Out", destroy_user_session_path, 
      method: :delete, class: "sign_out" %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: "sign_in" %>
    | <%= link_to "Create an Account", new_user_registration_path, 
      class: "sign_up" %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close alert-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= msg %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
